<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Introducción al desarrollo web con Django</title>
  </head>
  <body>
    <h1>Introducción al desarrollo web con Django</h1>
    <p>Trabajo práctico para Aprendizaje y enseñanza de las materias de Informática (MAES)</p>
    <h2>Aplicaciones disponibles en este tutorial</h2>
    <ul>
      <li>Básicos
        <ul>
            <li><a href="/holaMundo">¡Hola mundo!</a> (básico)</li>
            <li><a href="/holaMundo2">¡Hola mundo!</a> (con plantilla)</li>
            <li><a href="/calendario">Calendario</a></li>
            <li><a href="/calculadora/1/2">Calculadora</a> (parámetros por URL)</li>
        </ul>
      </li>
      <li>Con modelos (bases de datos)
        <ul>
            <li><a href="../master">Aplicación 'Máster'</a></li>
          <li><a href="/galeria">Galería de imágenes</a></li>
        </ul>
      </li>
    </ul>
  </body>
</html>